<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.collection">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE " />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kolekcja"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name="com.example.collection.activities.SQLite2ExcelActivity"></activity>
        <activity android:name="com.example.collection.activities.Excel2SQLiteActivity" />
        <activity android:name="com.example.collection.activities.FindListActivity" />
        <activity android:name="com.example.collection.activities.TypeActivity" />
        <activity
            android:name="com.example.collection.activities.EditActivity"
            android:theme="@style/AppTheme.EditMe" />
        <activity android:name="com.example.collection.activities.FilterListActivity" />
        <activity android:name="com.example.collection.activities.AddActivity" />
        <activity android:name="com.example.collection.activities.SearchActivity" />
        <activity android:name="com.example.collection.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>